<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>FeedRandomizer</servlet-name>
		<servlet-class>com.fromdev.automation.feed.FeedRandomizerServlet
		</servlet-class>
		<init-param>
			<param-name>feedList</param-name>
			<param-value>
				http://feeds.copyblogger.com/copyblogger&amp;x=1
				http://www.fromdev.com/feeds/posts/default?orderby=updated&amp;max-results=1000
				http://feeds2.feedburner.com/webdesignerdepot?format=rss
				http://rss1.smashingmagazine.com/feed/
				http://feeds.feedburner.com/onextrapixel
				http://feeds.feedburner.com/ProbloggerHelpingBloggersEarnMoney
				http://feeds.feedburner.com/codinghorror
				http://feeds.feedburner.com/nettuts-summary
				http://feeds2.feedburner.com/24thfloor
				http://feeds2.feedburner.com/thenextweb
				http://feeds.feedburner.com/SpyreStudios
				http://feeds2.feedburner.com/SixRevisions
				http://feeds2.feedburner.com/SmashingApps
				http://feeds.feedburner.com/makeuseof
				http://www.killerstartups.com/feed/
				http://digg.com/search/?q=web%20design&amp;format=rss
				http://digg.com/tag/curious.rss
				http://digg.com/tag/technology.rss		
			</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>FeedOnBufferEmpty</servlet-name>
		<servlet-class>com.fromdev.automation.feed.FeedOnBufferEmptyServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FeedCache</servlet-name>
		<servlet-class>com.fromdev.automation.feed.FeedCacheServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>JsonCache</servlet-name>
		<servlet-class>com.fromdev.automation.feed.JsonCacheServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KeepAlive</servlet-name>
		<servlet-class>com.fromdev.automation.feed.KeepAliveServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedRandomizer</servlet-name>
		<url-pattern>/feedrandomizer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedOnBufferEmpty</servlet-name>
		<url-pattern>/feedonbufferempty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedCache</servlet-name>
		<url-pattern>/cron/feedcache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JsonCache</servlet-name>
		<url-pattern>/admin/jsoncache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KeepAlive</servlet-name>
		<url-pattern>/cron/keepalive</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>admin</web-resource-name>
			<url-pattern>/cron/*</url-pattern>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
</web-app>
